/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.debug{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
html{

    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    height: 80px;
    background-color: #ff6900;
    color: #ffffff;
}
nav {
    width: 70%;
    margin: 0px auto;
    padding-top: 20px;
}

nav img{
    width: 150px;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

ul li{
    display: inline;
    cursor: pointer;
}
li {
    list-style: none;
}

i {
    padding-left: 5px;
}

/* Main */
main {
    width: 70%;
    margin: 0 auto;
}

.flex-row{
    display: flex;
}

main img{
    width: 400px;
    margin: 40px 10px;
}

col {
    width: calc(100% / 3);
}