/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
html{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --sconto: red;
}
/* Header */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #ff6900;
    color: #ffffff;
    box-shadow: 0 1px 3px #666;
}
nav {
    width: 60%;
    margin: 0px auto;
    padding-top: 20px;
}

nav img{
    width: 150px;
    /* oppure diamo una height cosi la width la sistema da solo */
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

ul li{
    display: inline;
    cursor: pointer;
}
li {
    list-style: none;
}

i {
    padding-left: 5px;
    cursor: pointer;
}

.logo{
    cursor: pointer;
}
/* Main */
main {
    width: 60%;
    margin: 0 auto;
}
section{
    margin-top: 50px;
}
.flex-row{
    display: flex;
}

.col img{
    width: 100%;
}

.margin {
    margin: 0 20px;
}
.col {
    width: calc(100% / 3);
    position: relative;
    padding-top: 80px;
    cursor: pointer;
}

.sconto{
    color: var(--sconto);
}

.cancel{
    text-decoration: line-through;
}
/* Interno immagine */
.label{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--sconto);
    color: #ffffff;
    font-weight: bold;
    padding: 3px 13px;
    margin-bottom: 100px;
}
.label2{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 13px;
    margin-bottom: 100px;
    margin-left: 70px;
}

.heart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background-color: #ffffff;
    margin-top: 90px;
    padding: 5px 10px;
}

.label2left{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 13px;
    margin-bottom: 100px;
}

/* Hoover Immagini */
.down{
    display: none;
}
.up{
    display: inline-block;
}
.col:hover .down{
    display: inline-block;
}
.col:hover .up{
    display: none;
}

.heart:hover{
    color: var(--sconto);
    cursor: pointer;
}

/* footer */

.footer-container{
    width: 100%;
    background-color: #1a1a1a;
    color: #ffffff;
    height: 130px;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-center{
    width: 60%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;
}

.ul-footer{
    display: flex;
}

.footer-center ul li{
    list-style: none;
    padding-right: 20px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.socials{
    color: white;  
}

.fa-brands {
    padding-top: 10px;
    font-size: 20px;
}
